.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: #10b798;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    z-index: 10;
  }

  .brand_name {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    margin-left: 4rem;
  }
  .navigation_menu {
    margin-left: auto;
    margin-right: 20px;
  }

  .navigation_menu ul {
    display: flex;
    padding: 0;
  }

  .navigation_menu li {
    list-style-type: none;
    margin: 0 1rem;
  }

  .navigation_menu li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 100%;
    margin-right: 1rem;
    margin-top: 1rem;
    font-size: 1.1rem;
  }

  .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #10b798;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }

  @media screen and (max-width: 600px) {
    .hamburger {
      display: block;
    }
    .brand_name {
      margin-left: 0.2rem;
    }

    .navigation_menu ul {
        position: absolute;
        top: 60px;
        left: 0;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: white;
        border-top: 1px solid black;
        display: none;
      }
      .navigation_menu.expanded ul {
        display: block;
      }
      .navigation_menu li {
        text-align: center;
        margin: 0;
        box-shadow: 0px 2px 2px 0px rgba(9, 9, 9, 0.23);
      }
      .navigation_menu li a {
        color: black;
        width: 100%;
        padding: 1.5rem 0;
      }
      .navigation_menu li:hover {
        background-color: #eee;
      }
  }

