.primaryBtn {
    margin: 20px 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 20px;
    border-radius: 12px;
    font-size: 0.9rem;
    border: none;
    color: white;
    background: #0c529c;
    transition: all 0.25s ease;
  }
  
  .primaryBtn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
  }

  * {
    box-sizing: border-box;
  }
  
  .columnLeft {
    float: left;
    width: 60%;
    padding: 10px;
  }
  
  .columnRight {
    float: left;
    width: 40%;
    padding: 10px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .confirmBtn {
    margin-top: 5px;
    cursor: pointer;
    font-weight: 500;
    padding: 7px 10px;
    border-radius: 12px;
    font-size: 0.7rem;
    border: none;
    color: white;
    background: #44ff3e;
    transition: all 0.25s ease;
  }
  
  .confirmBtn:hover {
    box-shadow: 0 10px 20px -10px rgba(74, 222, 33, 0.735);
    transform: translateY(-5px);
  }

  .middleBtn {
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
    font-weight: 500;
    padding: 7px 10px;
    border-radius: 12px;
    font-size: 0.7rem;
    border: none;
    color: rgb(255, 255, 255);
    background: #3e5eff;
    transition: all 0.25s ease;
  }
  
  .middleBtn:hover {
    box-shadow: 0 10px 20px -10px rgba(33, 77, 222, 0.735);
    transform: translateY(-5px);
  }

  .removeBtn {
    margin-top: 5px;
    cursor: pointer;
    font-weight: 500;
    padding: 7px 10px;
    border-radius: 12px;
    font-size: 0.7rem;
    border: none;
    color: white;
    background: #f6603a;
    transition: all 0.25s ease;
  }
  
  .removeBtn:hover {
    box-shadow: 0 10px 20px -10px rgba(222, 61, 33, 0.735);
    transform: translateY(-5px);
    color: white;
  }

  .colList {
    text-align: right;
    margin-right: 50px;
  }

  .myFontSize {
    font-size: 1rem;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .columnLeft {
      width: 70%;
    }
    .columnRight {
      width: 30%;
    }
    .colList {
      margin-right: 0px;
    }
    .myFontSize {
      font-size: 0.7rem;
    }
  }