{% extends 'sales_api/collapsible.html' %}

{% load static %}

{% block name %}Additions{% endblock %}

{% block content %}


{% if all_products %}
<ul>
    {% for product in all_products %}
    <li>
        <p>
            <span id="add_{{ product.id }}" class="add_open_modal select">{{ product.name }}</span>
            : {{ product.count }}
        </p>
        <img src="{{ product.image.url }}" style="width: 15%">
        <br />
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No products are available.</p>
{% endif %}



<div id="add_modal" class="modal">

    <div class="modal-content">
        <span class="close no_marking" id="add_close">&times;</span>

        <form action="/sales_api/add_count/" method="post" id="add_form">
            {% csrf_token %}
            <b>Add </b><b id="add_selected_item"></b>
            <br><br>
            <p>Amount</p>
            <span id="add_decrease" class="btn_span no_marking">-</span>
            &nbsp;
            <input id="add_count_input" type="number" required name="count" value="0" , min="0" , step="1">
            &nbsp;
            <span id="add_increase" class="btn_span no_marking">+</span>
            <br><br>
            <input type="submit" value="Confirm">
        </form>



    </div>

</div>


<script src='{% static "sales_api/additions.js" %}' type="module"></script>

{% endblock %}