* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  color: #10b798;
}

h2 {
  color: #10b798;
}
h3 {
  color: #10b798;
}
h4 {
  color: #10b798;
}
h5 {
  color: #10b798;
}

/* Disable arrows in input Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.myImage {
  height: 100px;
  max-width : 210px;
}