* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  color: #10b798;
}

h2 {
  color: #10b798;
}
h3 {
  color: #10b798;
}
h4 {
  color: #10b798;
}
h5 {
  color: #10b798;
}

/* Disable arrows in input Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.myImage {
  height: 100px;
  max-width : 210px;
}
.logo_front_page {
  width: 50%;
  height: 50%;
}

.basicBtn {
  margin-top: 5px;
  cursor: pointer;
  font-weight: 500;
  padding: 7px 10px;
  border-radius: 12px;
  font-size: 1rem;
  border: none;
  color: white;
  background: #44ff3e;
  transition: all 0.25s ease;
}

.basicBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(74, 222, 33, 0.735);
  transform: translateY(-5px);
}